body {
  color: white;
}

.container {
  width: 500px;
  height: 500px;
  border: none;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  background: #273549;
}

h1 {
  padding-top: 50px;
}

span {
  color: #059669;
}

.section {
  height: 40px;
  width: 300px;
  background-color: #059669;
  margin-top: 30px;
  padding-top: 25px;
  text-align: center;
  border-radius: 10px;
}

.main-section {
  display: flex;
  gap: 20px;
}

button {
  border-radius: 5px;
  padding: 15px;
  border: none;
  color: white;
  background: #059669;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  outline: none;
}

button:hover {
  background: blue;
  color: gold;
}

button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
